body {
  margin: 0em;
  margin: 0;
  padding: 1px;
  background-color: hsl(60, 100%, 80%);
  background-color: black;
  font-family: "Courier New", Courier, monospace;
  width: 100vw;
  overflow-x: hidden;
}

h1 {
  position: sticky;
  top: 14px;
  font-size: calc(1px + 4.5vw);
  color: turquoise;
  background-color: hsl(225, 58%, 51%);
  padding: 0.3em;
  display: inline-block;
  width: 100%;
  /* width: 90vw; */
}

#header-container {
  position: absolute;
  width: 100vw;
  /* height: 88vw; */
  overflow: visible;
  margin: 0;
  margin-top: -20px;
}

#top-space {
  height: 15vw;
}

canvas {
  transform: scale(0.8, 1.3);
  z-index: -1;
  /* margin-top: -50px; */
  /* width: 80vw; */
  display: inline-block;
  /* margin: 0 auto; */
}

p {
  color: turquoise;
  width: 95vw;
}

#one {
  background-color: hsl(325, 45%, 47%);
  transform: rotate(1deg);
}
#two {
  background-color: rgb(72, 94, 222);
  transform: rotate(-1deg);
}
#three {
  background-color: hsl(325, 45%, 47%);
  transform: rotate(0.3deg);
}
#four {
  background-color: hsl(325, 45%, 47%);
  transform: rotate(-1deg);
  transform: scale3d(2.5, 1.2, 0.3);
  transform: scale(0.8, 2);
  transform: rotate(-0.5deg);
}
#wassup {
  z-index: 2;
  opacity: 0.99;
  background-color: hsl(325, 25%, 50%);
  background-color: rgb(130, 72, 222);
  margin: auto;
  padding: 0.1em;
  border-radius: 3em;
  font-size: 6vw;
  /* height: 90px; */
  width: 70%;
  -moz-transition: all 3s ease-in;
  -o-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  transition: all 3s ease-in;
}

#name-input {
  margin-bottom: 2em;
}

#vid-container {
  display: flex;
  flex-flow: row wrap;
  flex-direction: row;
  justify-content: space-around;
}

.vids {
  margin-top: 2em;
  margin-right: 0em;
}

.vids:hover {
  cursor: pointer;
}
