body {
  margin: 0.2em;
  background-color: hsl(60, 100%, 80%);
  background-color: black;
}

nav {
  display: flex;
  justify-content: end;
}

.github-card {
  display: flex;
  align-items: start;
  border: 1px solid grey;
  box-shadow: 3px grey;
  border-radius: 2px;
  background-color: whitesmoke;
  height: 56px;
  margin-right: 0.5rem;
}

.github-avatar {
  margin-top: 5px;
  margin-left: 5px;
}

.github-name {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.github-logo {
  background: white;
  margin: 0.2rem 0.2rem 0 0;
}

.github-username {
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

h1 {
  color: turquoise;
  background-color: hsl(225, 100%, 50%);
  padding: 0.3em;
}

#wassup {
  background-color: hsl(325, 25%, 50%);
  margin: auto;
  padding: 2em;
  border-radius: 3em;
  font-size: 3em;
  height: 90px;
  width: 80%;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

#name-input {
  margin-bottom: 2em;
}

.vids {
  margin-top: 2em;
  margin-right: 2em;
  width: 280px;
  height: 158px;
}

canvas {
  display: block;
}

.era-heading {
  color: white;
  padding-left: 1rem;
  line-height: 1rem;
  text-decoration: underline;
}

.yellow {
  color: white;
  font-style: italic;
  padding-left: 1rem;
  padding-bottom: 1rem;
}

.absolute {
  position: absolute;
}

.curve-holder {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.curve-master {
  display: inline-flex;
  flex-direction: column;
}

.curve {
  position: relative;
}

#canvas-one {
  background-color: transparent;
}

.personal-holder {
  padding-left: 4rem;
  display: flex;
}

.personal-circle {
  color: white;
  border: 1px solid white;
  border-radius: 50%;
  width: 8rem;
  height: 8rem;
  text-align: center;
  vertical-align: middle;
  line-height: 8rem;
  cursor: pointer;
}

.personal-circle:hover {
  background: orange;
}

#personal-canvas {
  height: 8rem;
  width: 12rem;
}

.personal-image {
  display: none;
  width: 12rem;
  /* height: 8rem; */
}
